body {
	background-color: var(--primary-bg-color);
	color: var(--font-color);
}

.mantine-TextInput-error,
.mantine-PasswordInput-error {
	color: var(--bad-state-color);
}
.mantine-TextInput-input {
	color: var(--font-color);

	&::placeholder {
		color: var(--placeholder-color);
	}

	&:focus {
		border-color: var(--mantine-primary-color);
	}
}

.mantine-PasswordInput-input {
	color: var(--font-color);

	&:focus-within {
		border-color: var(--mantine-primary-color);
	}
}
.mantine-FileInput-input {
	color: var(--font-color);

	&:focus-within {
		border-color: var(--mantine-primary-color);
	}
}

.mantine-PasswordInput-innerInput {
	&::placeholder {
		color: var(--placeholder-color);
	}
}

.mantine-Textarea-input {
	color: var(--font-color);

	&::placeholder {
		color: var(--placeholder-color);
	}

	&:focus {
		border-color: var(--mantine-primary-color);
	}
}

.mantine-ScrollArea-scrollbar {
	background-color: var(--primary-bg-color-lighter);
	border-radius: var(--mantine-radius-md);
}

.mantine-ScrollArea-thumb {
	opacity: 0.85;
	transition: opacity 0.2s ease-in-out;

	&:hover {
		opacity: 1;
	}
}

.mantine-Accordion-root {
	color: var(--font-color);
}

.mantine-Accordion-control {
	color: var(--font-color);
}

.mantine-Accordion-item {
	color: var(--font-color);
	background-color: var(--primary-bg-color-lighter);
}

.mantine-Carousel-indicator {
	position: relative;
	top: 45px;
	width: rem(12px);
	height: rem(4px);
	transition: width 250ms ease;

	&[data-active] {
		width: rem(40px);
	}
}

.mantine-HoverCard-dropdown {
	background-color: var(--primary-bg-color);
}

.mantine-Menu-dropdown {
	background-color: var(--primary-bg-color);
}

.tableHeader {
	position: sticky;
	top: 0;
	background-color: var(--mantine-color-body);
	transition: box-shadow 150ms ease;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
	}
}

.tableScrolled {
	box-shadow: var(--mantine-shadow-sm);
}

.mantine-Carousel-control {
	background-color: transparent;
	border-color: transparent;
	color: var(--font-color);
	opacity: 1;
}

.StudentTaskTextAreaOverwrite > .mantine-Textarea-wrapper > .mantine-Textarea-input {
	&[data-disabled] {
		opacity: 1;
		color: var(--font-color);
		background-color: var(--_input-bg);
	}
}
