.accordionControlWrapper {
	background-color: #292929;
	border-radius: var(--mantine-radius-xs);
	/* border: 1px solid red; */
}

.accordionTabWrapper {
	width: 50%;
	/* border: 1px solid blue; */
}

.accordionBadge {
	align-self: flex-start;
}

.accordionSolutionContainer {
	border: rem(1) solid var(--font-color);
}

.accordionPanelWrapper {
	border: rem(1) solid green;
}
