.accordionControlWrapper {
	border-radius: var(--mantine-radius-xs);
}

.accordionTabWrapper {
	/* width: 50%; */
	margin-right: var(--mantine-spacing-sm);
}

.accordionBadge {
	align-self: flex-end;
	color: var(--font-color);
}

.accordionSolutionContainer {
	border: rem(1) solid var(--font-color);
}

.accordionIconColor {
	color: var(--font-color);
}

.accordionSpecialTaskIconColor {
	color: var(--special-task-color);
}

.grantedScore {
	color: var(--score-color);
}
