.accordionControlWrapper {
	border-radius: var(--mantine-radius-xs);
}

.accordionTabWrapper {
	width: 50%;
}

.accordionBadge {
	align-self: flex-start;
	color: var(--font-color);
}

.accordionSolutionContainer {
	border: rem(1) solid var(--font-color);
}

.accordionIconColor {
	color: var(--font-color);
}
