.lessonCardWrapper {
    width: 20%;
    background-color: #292929;
    border-radius: var(--mantine-radius-xs);
}

.progressLabel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}