.sql {
	color: var(--mantine-primary-color);
	font-weight: inherit;
	font-size: inherit;
}

.typingCursor {
	color: var(--font-color);
}

.form {
	display: flex;
	flex-direction: column;
}

.input {
	background-color: transparent;
	border-color: var(--font-color);
}

.inputError {
	background-color: transparent;
	color: var(--bad-state-color);
	border-color: var(--bad-state-color);

	&:focus {
		border-color: var(--bad-state-color);
	}

	&:focus-within {
		border-color: var(--bad-state-color);
	}
}

.visibilityToggler {
	color: var(--font-color);
}

.loginBtn {
	width: 25%;
	align-self: flex-end;
}
